<% @posts.each do |post| %>
<p>
	Title  : <%= post.title %>
</p>
<p>
	Scription : <%= post.description %>
</p>
<a href="/update/<%=post.id%>">Update</a>
<a href="/delete/<%=post.id%>">Delete</a>

<hr>
<% end %>


<form action="/create" method="post">
	<p>
		Title
	</p>
	<input type="text" name="title">
	<br/>
	<p>
		Script
	</p>
	<input type="text" name="description">
	<button type="submit">
		Submit
	</button>
</form>
